div.cont-projet{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;

}

article.projet{
    aspect-ratio: 2/1;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

article.projet:hover{
    transform: rotateX(0.03turn) rotateY(-0.03turn) scale(1.05);
}



article.projet a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: flex-end;
    h4 {
        background-color: #FFFFFF;
        color: #00265F;
        padding: 5px;
        width: fit-content;
        font-size: 1em;
        border-radius: 5px;
        margin: 0;
        &::before {
            content: ">";
            font-family: "Montserrat";
            font-weight: 900;
            color: #00265F;
            margin-right: 10px;
        }
    }
}

article.projet ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #00265F;
    padding: 7px;
    border-radius: 5px;
    li{
        margin: 0;
        line-height: normal;
        line-height: 0;
        i{
            color: #FFFFFF;
            margin: 0;
            font-size: 1em;
            line-height: 0;
        }
        img{
            height: 1.1em;
        }
    }
}

article.projet.univ             h4::after{content: "\01F468 \200D \01F393";}
article.projet.scout            h4::after{content: "\26FA";}
article.projet.audiovisuel      h4::after{content: "\01F4F7";}
article.projet.drone            h4::after{content: "\01F681";}
article.projet.studio195        h4::after{content: "\01F39E \FE0F";}
article.projet.photo            h4::after{content: "\01F4F8";}