header{
    background-image: url(../bande.svg);
    background-repeat: repeat-x;
    background-position: bottom right;
    padding-bottom: 40px;
    display: flex;
    *, *::before{
        color: #FFFFFF !important;
    }
}

div#header-couleur{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 40px;
    background-color: #00265F;
    padding: 5% 20vw;
    width: 100%;
    min-height: 100vh;
}

header section#moi, div#moi-details{
    max-width: 60vw;
}

header section#moi{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (max-width: 895px){
    header div#moi{
        justify-content: center;
        align-items: center;
    }
}

header section#moi img{
    height: 250px;
}

header div#moi-texte{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    max-width: 50%;
    /* gap: 10px; */
}

@media only screen and (max-width: 895px){
    header div#moi-texte{
        max-width: none;
        width: 100%;
    }
}

header div#moi-texte p#moi-titre{
    font-weight: 600;
    font-size: 1.3em;
}

header div#moi-texte p#moi-valeurs{
    font-style: italic;
}

header section#moi p#moi-stage strong{
    color: #FFFFFF;
}

div#moi-details{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 40px;
}

section#contact, div#competences, section#interets{
    max-width: 30%;
    width: fit-content;
}

@media only screen and  (max-width: 1350px){
    section#contact, div#competences, section#interets{
        max-width: none;
        width: fit-content;
    }
}

header section#contact{
        min-width: 200px;
}

header ul#contact{
    display: flex;
    flex-flow: column nowrap;

}

header ul#contact img{
    width: 15px;
    margin-right: 5px;
}

header ul#contact li#contact-mail{
    grid-column: 1/3;
}

header ul#contact a{
    text-decoration: none;
}

header div#competences{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

header div#techno-flex{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 7px;
    /*display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 7px;*/
    max-width: 300px;
}

div#scroll{
    display: flex;
    justify-content: center;
}

div#scroll p{
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 4em;
    width: fit-content;
    text-align: center;
    transform: rotate(90deg);
}

meter{
    margin-left: 10px;
    border: none;
    border-radius: 2px;
}

