body{
    margin: 20px 20vw;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    margin: 0 7vw;
}

div.pres{
    margin: 50px 0;
}

main ul{
    display: flex;
    gap: 20px;
}

main ul li i{
    color :var(--bleu);
    margin-right: 5px;
}

iframe{
    width: 100%;
    aspect-ratio: 1920 / 1080;
    border: 2px var(--bleu) solid;
    margin: 50px 0;
}