@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    margin: 0;
}

h1{
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-size: 2em;
    margin: 30px 0px;
}

h2{
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-size: 1.6em;
    margin: 20px 0px;
}

h3{
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 1.4em;
    margin: 15px 0px;
}

h3::before{
    content: ">";
    font-family: "Montserrat";
    font-weight: 500;
    margin-right: 10px;
}

h4{
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 1.2em;
    margin: 10px 0px;
}

p, a, li{
    font-family: "Montserrat";
    margin: 5px 0px;
    font-weight: 300;
}

strong{
    font-weight: 700;
}

header{
    background-color: #00265F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 50px 25%;
}

header div#moi{
    display: flex;
}

header div#moi img{
    height: 250px;
}

div#moi-texte{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 600px;
    gap: 10px;
}

div#moi-texte p#moi-titre{
    font-weight: 700;
    font-size: 1.3em;
    font-variant: small-caps;
}

div#moi-texte p#moi-valeurs{
    font-style: italic;
}

ul#contact{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 15px 30px;
}

ul#contact img{
    width: 15px;
    margin-right: 5px;
}

ul#contact a{
    color: white;
}