body{
    margin: 20px 2vw !important;
}

table{
    border-collapse: collapse;
    thead th{
        background-color: var(--bleu);
        color: white;
    }
    td, th{
        border-left: 1px solid var(--gris1);
        border-right: 1px solid var(--gris1);
        padding: 5px;
        text-align: center;
        img{
            width: 70px;
            border-radius: 5px;
        }
        ul.tags{
            min-width: 54px;
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 3px;
            img{
                max-width: 16px;
            }
            li{
                margin: 0px;
            }
        }
    }
    th{
        background-color: var(--gris1);
        padding: 5px 10px;
        font-weight: 500;
    }
    tr:nth-child(even){
        background-color: var(--gris2);
    }
    .crud {
        a{
            text-decoration: none;
            i{
                padding: 3px;
                border-radius: 5px;
                color: white;
                &.bi-pencil-fill{
                    background-color: var(--vert);
                }
                &.bi-trash3-fill{
                    background-color: var(--rouge);
                }
            }
        }
    }
    tfoot{
        background-color: var(--gris1);
        padding: 5px 10px;
        font-weight: 500;
        th{
            text-align: end;
        }
    }
}